{% extends 'base.html' %}

{% block content %}
{#<p>Hello You have Logged in as {{ email }}</p>#}

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
            <h1 style="color:dark;text-align: center;margin-top: 20px" >
                <img src="/static/img/bg.jpg" alt="" style="width: 70px;height: 70px">
                Message List</h1>

    <a type="button" class="btn btn-primary" href="/add1">Sent Messages</a>

            <table class="table table-striped" style="margin-top: 10px">
    <thead>
<tr>
                <th>ID no.</th>
                <th>username</th>
                <th>Message Information</th>
                <th>Message Time</th>
                <th>delete</th>
                <th>edit</th>
            </tr>
</thead>
    <tbody>
            {% for i in data %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.nikename}}</td>
                <td>{{i.info}}</td>
                <td>{{i.date}}</td>
                <td>
                    {% if i.nikename==session.email %}
                                            <a href="/delete?id={{i.id}}">delete</a>


                    {% endif %}

                <td>
                          {% if i.nikename==session.email %}
                                         <a href="/update?id={{i.id}}">edit</a>


                    {% endif %}
                  </td>
            </tr>
            {% endfor %}
    </tbody>
</table>

    </div>
</div>

{% endblock %}