<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Board List</title>
</head>
<body>
    <center>
        <h1 style="color:dark;">Message List</h1>
        <h3><a href="/add">Post a Message</a></h3>
        <table border="1" width="800">
            <tr>
                <th>ID no.</th>
                <th>username</th>
                <th>Message Information</th>
                <th>Message Time</th>
                <th>delete</th>
                <th>edit</th>
            </tr>
            {% for i in data %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.nikename}}</td>
                <td>{{i.info}}</td>
                <td>{{i.date}}</td>
                <td><a href="/delete?id={{i.id}}">delete</a></td>
                <td><a href="/update?id={{i.id}}">edit</a></td>
            </tr>
            {% endfor %}

        </table>
    </center>
</body>
</html>
